<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="token" value="963f0798-5403-4b3a-af3f-ef649fdd15c0"/>
    <add key ="subdomain" value="ayette;coc-tp;guhitpinas;smitrek"/>
  </appSettings>
 
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>